@using Microsoft.AspNetCore.Identity
@using Zamowienia.Models
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Strona główna";
    var user = await UserManager.GetUserAsync(User);
    var isAdministrator = user != null && user.TypUzytkownika == "Administrator";
}

<div class="container">
    <div class="centered-container">
        <div class="button-row">
            <a class="square-button @GetCustomButtonClass(isAdministrator, "primary", "order")" href="@Url.Action("Create", "Order")">Zamów</a>
            <a class="square-button @GetCustomButtonClass(isAdministrator, "secondary")" href="@Url.Action("Index", "OrderManagement")">Zarządzaj zamówieniami</a>
        </div>
        <div class="button-row">
            <a class="square-button @GetCustomButtonClass(isAdministrator, "success")" href="@Url.Action("Index", "Product")">Zarządzaj produktami</a>
            <a class="square-button @GetCustomButtonClass(isAdministrator, "danger")" href="@Url.Action("Index", "User")">Zarządzaj użytkownikami</a>
        </div>
    </div>
</div>

@functions {
    private string GetCustomButtonClass(bool isAdministrator, string colorClass, string buttonType = "")
    {
        if (isAdministrator)
        {
            return $"admin-{colorClass}";
        }
        else
        {
            if (buttonType == "order")
            {
                return "user-order-button";
            }
            else
            {
                return "user-button";
            }
        }
    }
}