@model IEnumerable<Zamowienia.Models.Order>

@{
    ViewData["Title"] = "Zarządzanie Zamówieniami";
}

<h2>Zarządzanie Zamówieniami</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data Złożenia</th>
            <th>Nazwa Użytkownika</th>
            <th>Lista Przedmiotów</th>
            <th>Czy Zrealizowano</th>
            <th>Data ostatniej edycji</th>
            <th>Uwagi</th>
            <!-- Możesz dodać więcej kolumn jeśli potrzebujesz -->
        </tr>
    </thead>
    <tbody>
        @foreach (var zamowienie in Model)
        {
            <tr>
                <td>@zamowienie.id</td>
                <td>@zamowienie.dataZlozenia</td>
                <td>@zamowienie.UserName</td>
                <td>@zamowienie.listaPrzedmiotow</td>
                <td>@zamowienie.czyZrealizowano</td>
                <td>@zamowienie.dataRealizacji</td>
                <td>@zamowienie.uwagi</td>
                <td>
                    @if (zamowienie.czyZrealizowano != "TAK")
                    {
                        <form asp-action="RealizujZamowienie" method="post">
                            <input type="hidden" name="id" value="@zamowienie.id" />
                            <input type="submit" value="REALIZUJ ZAMÓWIENIE" class="btn btn-success" />
                        </form>
                    }
                    else
                    {
                        <form asp-action="CofnijRealizacje" method="post">
                            <input type="hidden" name="id" value="@zamowienie.id" />
                            <input type="submit" value="COFNIJ REALIZACJĘ" class="btn btn-warning" />
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
